* {
	font-family: "Rubik", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000000;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 24px;
	background: #EEEEEE;
	gap: 24px;
}
.Title {
	font-size: 3em;
	text-align: center;
}

header {
	display: flex;
	align-items: stretch;
}

header,
.main {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	gap: 14px;
}

header input {
	flex: 1;
	border-radius: 5px;
	outline: none;
	width: 100%;
	font-size: 2em;
}

header button {
	border-radius: 5px;
	background: transparent;
	transition-duration: 200ms;
	cursor: pointer;
	font-size: 2em;
}

header button:hover {
	opacity: 0.7;
}

header button,
header input {
	padding: 7px 12px;
	/* border: 1.5px solid black; */
	border: none;
	background: rgb(255, 255, 255);
}

p {
	font-size: 2em;
}

.main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 7px;
}

.todoItem {
	display: flex;
	align-items: center;
	gap: 24px;
	padding: 2px 7px;
	border-radius: 5px;
	outline: none;
	background: white;
}

.todoItem p {
	flex: 1;
}

.actionsContainer {
	display: flex;
	align-items: center;
	gap: 14px;
}

.actionsContainer button {
	transition-duration: 200ms;
	border: none;
	cursor: pointer;
	font-size: 20px;
	background-color: rgb(227, 227, 227);
	padding: 3px;
	border-radius: 7px;
}

.actionsContainer button:hover {
	opacity: 0.7;
}

/* @media (min-width: 640px) {

	header button,
	header input {
		font-size: 2em;
	}

	p {
		font-size: 2em;
	}
} */